* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    color: rgb(51, 255, 0);
}
.primary-button {
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
    border: 0;
    font-size: 2vh;
	transition: letter-spacing 2s;
	text-transform: uppercase;
	text-align: center;
	animation: space 20s infinite alternate;
    background-color: transparent;
}
@keyframes space{
	from {
	  letter-spacing: 0;
	}
	to {
	  letter-spacing: 5vw;
	}
}
.primary-button:hover {
    text-decoration: line-through;
    border: 0;
}
.primary-button:active {
    text-decoration: line-through;
}
.wrapper {
    margin-left: 0.5;
    margin-right: 0.5;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-image: url(/assets/images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;   
}
.catfact {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}
