body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
  }
  
h1 {
	font-size: 2vh;
	font-family: "helvetica", sans-serif;
	transition: letter-spacing 2s;
	text-transform: uppercase;
	text-align: center;
	animation: stretch 5s infinite alternate;
	color: black;
	z-index: 1000;
} 
  @keyframes stretch {
	from {
	  letter-spacing: 0;
	}
	to {
	  letter-spacing: 10vw;
	}
}
.radial {
	width: 100%;
	height: 100%;
	background: radial-gradient(cyan,yellow,deeppink);
	display: flex;
	justify-content: center;
	align-items: center;
}